################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/app/target/

app/src/main/resources/smite_dev_key.json
